@charset "utf-8";
/* CSS Document */

body {
	max-width: 100%;
	background-color: white;
	
	
}
header {
	background-color: #000000;
	width: 100%;
	
	
	
	
}
#menu ul{
	display: -webkit-flex;
	display: flex;
	 -webkit-justify-content: flex-end;
  justify-content: flex-start;
	
	
	
	
}



#menu a{
	color:white;
	 margin: 10px;
	display: block;
	padding: 15px;
	text-decoration: none;
}


.log{
	margin-left: auto;
	
	
}
#part1{
	width: 100%;
	background-color: #1e93cc;
	display: flex;
	flex-direction: row;
	margin-bottom: 10;
	
}

.geek{
	width: 25%;
	margin-left: 80px;
}
.titre{
	text-align: center;
}

.slogan {
	font-size: 180%;
	color: #FFFFFF;
}
.bouton1{
	background-color: orange;
	border: 2px solid white;
    padding: 20px;
    border-radius: 25px;
	color: white;
	align-items: center;
	
	
}
.ligneb1{
	background-color: white;
	color:black;
	font-size: 120%;
	padding-top:0;
	border-bottom:1px solid rgba(0,0,0.05);
}
.ligneb1t{
	font-size: 26px;
	font-weight:300;
	padding-bottom: 10px;
	text-align:center;
}
#part2{
	display: grid;
	grid-template-columns:repeat(2,20%);
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #1e93cc;
	color:#e0e0e0;
}


.art1{
	padding-right: 40%;
	width: 400px;
	position: relative;
	right: 200px;
}

.art2{
	padding-left: 40%;
	width: 400px;
	position: relative;
	
}
#part3{
	
}

.ligneb2t{
	font-size: 26px;
	font-weight:300;
	padding-bottom: 10px;
	text-align:center;
}
#part4 {
	border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(0,0,0,0.05);
    background-color: #eee;

		
}

#part4 img {
	height: 50px;
	vertical-align: middle;
	padding-top: 30px;
    padding-bottom: 30px;
    width:14%;
    text-align: center;
}
.logprod{
	text-align: center;
}
.bts{
	display:flex;
	flex-direction: row;
	justify-content: center;
	
}
.bouton4{
	background-color: orange;
	border: 2px solid white;
    padding: 20px;
    border-radius: 25px;
	color: white;
	
}	
.bouton2{
	background-color: deepskyblue;
	border: 2px solid white;
    padding: 20px;
    border-radius: 25px;
	color: white;
	
}	
.bouton3{
	background-color: deepskyblue;
	border: 2px solid white;
    padding: 20px;
    border-radius: 25px;
	color: white;
	
}	
footer{
	background-color: black;
	width: 0 auto;
	height: 50px;
	
}

footer a{
	color: white;
	padding: 20px;
}


.foot{
	display: flex;
	flex-direction: row;
	
}